body{
	padding-top: 50px;
}

footer {
	background-color: #2d2e27;
	color: rgb(126, 128, 117);
}

h3 {
	color: #e8e8da;
}

#art-gallery-name {
	text-align: center;
	color: #e8e8da;
	font-size: 2rem;
	font-weight: 900;
	font-family: "Times New Roman", Times, serif;
}

/* Footer  */
.copyright-footer {
	text-align: center;
}

.footer-container {
	display: flex;
	justify-content: space-around;
	text-align: justify;
}

.footer-container ul li {
	list-style-type: none;
	padding: 5px 0;
}

.footer-container ul {
	padding: 0;
}


/* Nar bar styles */

/* Nav bar styles */
.navbar-list {
	position: fixed;
	top: 0;
	left: 0;
    list-style: none; /* Remove bullet points from list */
    display: flex;    /* Make the list items align horizontally */
	justify-content: space-evenly;
	gap: 30px;
}

.navbar-list-item {
    margin-right: 20px; /* Space out the list items */
}

.link{
	text-decoration: none; /* Remove underlines from links */
	color: black;
	font-size: 18px;
}